<!-- templates/signup.html -->
{% extends "base.html" %}

{% block title %}Sign Up - Test App{% endblock %}

{% block content %}
  <h1 class="my-4">Sign Up</h1>
  <form method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.username.label }}
      {{ form.username(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.password.label }}
      {{ form.password(class="form-control") }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
    <a href="{{ url_for('login') }}" class="btn btn-link">Login</a>
  </form>
{% endblock %}
